<div id="ref-asesoramiento" style="margin-top:0">
  <br>
  <br>
  <br>
  <div class="jumbotron wrapper fadeIn animated fondoGris tamanioTarjeta">
    <h1 class="display-4 texto-verde text-center texto-grande">ASESORAMIENTO AUTOMATIZADO</h1>
    <hr class="my-4" style="background-color:#bbbbbb">
    <p class="lead texto-gris texto-medio text-center">
      Herramienta de fácil uso para calcular los materiales necesario para su necesidad.
    </p>
    <div class="centrar">
      <button type="button" class="btn btn-lg btn-outline text-center boton-verde" style="text-align:center" (click)="btnClick()"
        role="button">CONSULTAR</button>
    </div>
  </div>
  <br>
  <br>
  <br>
</div>
