<div media="tv">
  <br><br>
  <div class="containerFormulario" id="contacto">
    <h1 class="brand fadeIn fast" style="margin-left: 10%;"><span style="color: #90bd42">CONTACTO</span></h1>
    <h2 class="animated fadeIn texto-gris" style="font-size: 20px;margin-left: 10%;">Comunicate con nosotros</h2>
    <div class="wrapper animated bounceInLeft margenCelular">
      <div class="company-info">
        <h3>Reblock</h3>
        <ul>
          <li><i class="fa fa-road"></i> Cuyo 90 Martinez San Isidro </li>
          <li><i class="fa fa-phone"></i>(011) 4798 6512</li>
          <li><i class="fa fa-envelope"></i> reblock@gmail.com.ar</li>
        </ul>
        <div class="col-md-12 text-center">
          <iframe class="templatemo-contact-map"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.706217573267!2d-58.50766268453921!3d-34.484976280490535!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb1ada6a748f9%3A0x850b718c3e74220a!2sCuyo+90%2C+B1641+Acassuso%2C+Buenos+Aires!5e0!3m2!1ses-419!2sar!4v1513692619246"
            frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="contact">


        <form #f="ngForm" (ngSubmit)="contactForm(f)" novalidate>
          <p>
            <input name="name" ngModel required #first="ngModel" placeholder="Nombre" pattern="^[a-zA-Z][a-zA-Z]{1,25}$"
              #nameref="ngModel">
          </p>
          <p>
            <input name="email" ngModel required placeholder="Dirección Email"
              pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #emailref="ngModel">
          </p>
          <p>
            <input name="phone" ngModel required placeholder="Teléfono" minlength="8" maxlength="12"
              pattern="(11|15|4)[0-9]*" #telref="ngModel">
          </p>
          <div class="full">
            <div
              *ngIf="(emailref.errors && (emailref.touched || emailref.dirty)) || (nameref.errors && (nameref.touched || nameref.dirty)) || (telref.errors && (telref.touched || telref.dirty))"
              class="alert alert-danger">
              <div *ngIf="emailref.invalid && emailref.touched" [hidden]="!emailref.invalid">
                Está ingresando un email inválido
              </div>
              <div *ngIf="nameref.invalid && nameref.touched" [hidden]="!nameref.invalid">
                Está ingresando un nombre inválido
              </div>
              <div *ngIf="telref.invalid && telref.touched" [hidden]="!telref.invalid">
                Está ingresando un telefono inválido
              </div>
            </div>
          </div>
          <div class="full">
            <label>Contactenos completando los datos a continuación y le responderemos a la brevedad</label>
            <textarea name="message" rows="3" required ngModel minlength="1" #mesref="ngModel"></textarea>
          </div>
          <div class="full">
            <div *ngIf="mesref.errors && (mesref.touched || mesref.dirty)" class="alert alert-danger bloqueado">
              <div [hidden]="!mesref.invalid">
                Debe ingresar un mensaje
              </div>
            </div>
          </div>
          <p class="full">
            <button class="btn-outline-success disabled" *ngIf="mesref.invalid || telref.invalid || nameref.invalid || emailref.invalid" disabled>Enviar</button>
            <button class="btn-outline-success" *ngIf="!mesref.invalid && !telref.invalid && !nameref.invalid && !emailref.invalid">Enviar</button>
            <ngx-spinner bdOpacity=0.6 bdColor="rgba(40,40,40,0.9)" size="large" color="#90bd42" type="square-jelly-box"
              fullScreen="true">
            </ngx-spinner>
          </p>
        </form>

      </div>
    </div>
  </div>

</div>
