<div style="height: 500px;" >
  <br><br>
  <div class="containerFormulario" id="contacto">
    <h1 class="brand fadeIn fast" style="margin-left: 10%;" ><span style="color: #90bd42">CONTACTO</span></h1>
    <h2 class="animated fadeIn texto-gris" style="font-size: 20px;margin-left: 10%;">Comunicate con nosotros</h2>
    <div class="wrapper animated bounceInLeft" style="margin: 0 10%;">
      <div class="company-info" >
        <h3>Reblock</h3>
        <ul>
          <li><i class="fa fa-road"></i> Cuyo 90 Martinez San Isidro </li>
          <li><i class="fa fa-phone"></i>(011) 4798 6512</li>
          <li><i class="fa fa-envelope"></i> reblock@gmail.com.ar</li>
        </ul>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3288.7063919095613!2d-58.50766268480346!3d-34.48497185873163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb1ada6a748f9%3A0x850b718c3e74220a!2sCuyo+90%2C+B1641+Acassuso%2C+Buenos+Aires!5e0!3m2!1ses!2sar!4v1550180322455"
          frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div class="contact">

        <form method="post" role="form" action="contacto.php">
          <p>
            <!-- <label>Nombre</label> -->
            <input style="padding: 5px;" type="text" placeholder="Nombre" name="name" required>
          </p>
          <p>
            <!-- <label>Dirección Email</label> -->
            <input style="padding: 5px;" type="email" placeholder="Dirección Email" name="email" required>
          </p>
          <p class="full">
            <label>Contactenos completando los datos a continuación y le responderemos a la brevedad</label>
            <textarea name="message" rows="3" required></textarea>
          </p>
          <p class="full">
            <button class="btn-outline-success" type="submit" name="submit" data-submit="...Enviar">Enviar</button>
          </p>
        </form>
      </div>
    </div>
  </div>

</div>
