<div id="nosotros">
  <br>
  <br>
  <br>
  <div class="jumbotron wrapper fadeIn animated fondoGris">
    <h1 class="display-4 texto-verde text-center texto-grande">NOSOTROS</h1>
    <p class="lead texto-gris texto-medio text-center">El concreto celular es un material utilizado en el mundo hace muchos años y surge como una mejora tecnológica aplicada a la mezcla de arena, agua y cemento. La diferencia que presenta el concreto celular son las millones de burbujas de aire uniformemente distribuidas en la mezcla que actúan como "cámaras de aire", permitiendo reducir considerablemente su peso final, y al mismo tiempo aumentar el aislamiento térmico, acústico e impermeabilidad a valores óptimos. 

      En la fabricación y curado de REBLOCK no se utilizan altas temperaturas ni material orgánico (tierra negra) por lo que es considerado un material amigable con el medio ambiente no solo en sus prestaciones sino también en su proceso de fabricación. 
      
      Este mampuesto liviano permite: disminuir la carga de morteros, alcanzar una mayor rapidez de construcción, menores costos de transportes y acarreos, mientras se obtienen características constructivas de alta prestación. Al tener el concreto celular tan bajo peso, se pueden lograr bloques de gran tamaño de fácil manipulación que agilizan la construcción y disminuyen los tiempos de ejecución. Logrando obras mas agiles y limpias. 
      
      El sistema constructivo REBLOCK abarca no solo las diferentes medidas de espesor de bloques y dinteles sino también los adhesivos, mallas, serruchos, sierras eléctricas y todo el sistema constructivo. Combina la rapidez y limpieza de ejecución de sistemas de construcción en seco, con la versatilidad de la construcción tradicional.
    </p>
    <hr class="my-4" style="background-color:#bbbbbb">
    <p class="texto-peque text-center">Para conocer más acerca de Covido, cliquear el siguiente botón.</p>
    <div class="centrar">
      <button type="button" class="btn btn-lg btn-outline text-center boton-verde" style="text-align:center" (click)="btnClick()" role="button">COVIDO</button>
    </div>
  </div>
</div>
