<div id="covido" class="margen-superior" style="margin-top:150px" >
  <div class="jumbotron fadeIn animated fondoGris">
    <h1 class="display-4 texto-verde text-center texto-grande">COVIDO</h1>
    <p class="lead texto-gris texto-medio text-center">COVIDO SRL es una empresa familiar con mas de 40 años en el mercado de la construcción. Especializada al principio en obras de hormigón armado, fue evolucionando hasta lo que es hoy, una empresa constructora integral dedicada al desarrollo de obras propias y para terceros. 
      Simultaneamente conformamos un equipo profesional y comenzamos a realizar diferentes desarrollos através de COVIDO AMBIENTAL : estudios de impacto ambiental tanto público como privado, desarrollo de proyectos de vivienda con sello de alta eficacia energética, estudios de suelo, gestión integral de residuos, estudio y remediación de sitios contaminados, diseño de planta de tratamiento de residuos solidos urbanos, y asesoramiento a municipios. Asi nacio REBLOCK , una marca de bloques de concreto celular liviano, CLC.
    </p>
    <hr class="my-4" style="background-color:#bbbbbb">
    <p class="texto-gris texto-peque text-center">Para conocer más acerca de Covido podés cliquear el siguiente botón.</p>
    <div class="centrar">
      <button type="button" class="btn btn-lg btn-outline text-center boton-verde" style="text-align:center" (click)="goToUrl()" role="button">covido.com.ar</button>
    </div>
  </div>
</div>
