<!DOCTYPE html>
<div id="productos" class="margenes" style="background-color:#111111;">
  <h1 class="animated fadeIn fast texto-verde" style="margin-left: 10%">
    PRODUCTOS
    <h2 class="animated fadeIn texto-gris" style="font-size: 20px">Ladrillos de Cellular Light Concrete</h2>
  </h1>

  <hr>

  <div class="card-columns animated fadeIn" style="margin-left: 10%">
    <div class="card cajonImagen" style="background-color: #00000011;max-width: 18rem;" *ngFor="let producto of productos; let i = index">
      <div *ngIf="!this.mostrar">
        <div *ngIf="i<4">
          <button (click)="verProducto(i)" type="button" class="noBackground">
            <img class="card-img-top " type="img" [src]="producto.Img" [alt]="producto.Nombre" (click)="verProducto(i)">
            <h5 class="card-title text-center texto-gris titulo">{{ producto.Nombre }}</h5>
            <div class="imagenBoton"></div>
          </button>
        </div>
      </div>
      <div *ngIf="this.mostrar">
        <button (click)="verProducto(i)" type="button" class="noBackground">
          <img class="card-img-top " type="img" [src]="producto.Img" [alt]="producto.Nombre" (click)="verProducto(i)">
          <h5 class="card-title text-center texto-gris titulo">{{ producto.Nombre }}</h5>
          <div class="imagenBoton"></div>
        </button>
      </div>


      <!-- <div class="texto-gris cajaDescriptiva">
        
        <p class="card-text text-center" style="color: #bbbbbb;">
          {{producto.Altura}} {{producto.Longitud}} {{producto.Ancho}}
          <br> {{producto.Fecha}}
        </p>
      </div> -->
      <!-- <a [routerLink]="['/producto',i]" class="btn btn-outline-secondary btn-block">Ver mas...</a> -->
    </div>
  </div>
  <div class="centrar" *ngIf="!this.mostrar">
    <button type="button" class="btn btn-lg btn-outline text-center boton-verde" style="text-align:center" (click)="cambio()">VER
      MAS</button>
  </div>
  <div class="centrar" *ngIf="this.mostrar">
    <button type="button" class="btn btn-lg btn-outline text-center boton-verde" style="text-align:center" (click)="cambio()">VER
      MENOS</button>
  </div>
</div>
