<div class="container margen-superior">
  <h1 class="brand fadeIn fast titulo">
    <span style="color: #90bd42">ASESORAMIENTO</span>
  </h1>
  <h2 class="animated fadeIn texto-gris" style="font-size: 20px">Calculadora de materiales</h2>

  <!-- Mobile mostrar -->

  <div class="alert alert-secondary animated bounceInLeft inputApertura" style="margin-top: 60px; padding: 25px; text-align: center"
    role="alert" id="mobile">
    La calculadora de materiales no se encuentra disponible para celulares.<br>
    <b>Disculpe las molestias!</b>
  </div>

  <table class="table table-dark table-hover" style="text-align: center">
    <thead>
      <tr>
        <th scope="col" colspan="4">PARED</th>
        <th scope="col" colspan="2">ABERTURA 1</th>
        <th scope="col" colspan="2">ABERTURA 2</th>
        <th scope="col" colspan="2">ABERTURA 3</th>
        <th scope="col" colspan="2">ABERTURA 4</th>
        <th scope="col" colspan="2">ABERTURA 5</th>
        <th scope="col">SUPERFICIE</th>
      </tr>
      <tr>
        <th scope="col">Tipo de pared</th>
        <th scope="col">Espesor (cm)</th>
        <th scope="col">Largo (m)</th>
        <th scope="col">Alto (m)</th>

        <th scope="col">Ancho (m)</th>
        <th scope="col">Alto (m)</th>


        <th scope="col">Ancho (m)</th>
        <th scope="col">Alto (m)</th>

        <th scope="col">Ancho (m)</th>
        <th scope="col">Alto (m)</th>

        <th scope="col">Ancho (m)</th>
        <th scope="col">Alto (m)</th>

        <th scope="col">Ancho (m)</th>
        <th scope="col">Alto (m)</th>

        <th scope="col">M²</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">
          <div class="dropdown">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">  
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item" >Action</a>
              <a class="dropdown-item" >Another action</a>
              <a class="dropdown-item" >Something else here</a>
            </div>
          </div>
        </th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <th scope="row">3</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>

      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
  <!-- Calculadora Escritorio -->


</div>
