<footer class="footer text-center">
    <div class="izquierda">
      <a class="noStyle" href="https://www.facebook.com/reblockpage">
        <i class="fab fa-facebook-f iconos iconosStyle"></i>
      </a>
      <a class="noStyle" href="https://www.facebook.com/reblockpage">
        <i class="fab fa-twitter iconos iconosStyle"></i>
      </a>
      <a class="noStyle" href="https://www.facebook.com/reblockpage">
        <i class="fab fa-instagram iconos iconosStyle"></i>
      </a>
      <a class="noStyle" href="https://www.facebook.com/reblockpage">
        <i class="fab fa-linkedin iconos iconosStyle"></i>
      </a>
    </div> 
    <div class="registrado">
        <span class="texto-gris">Copyright © <script language="javascript" type="text/javascript">
          var today = new Date()
          var year = today.getFullYear()
          document.write(year)
        </script>
         <b class="texto-verde" href="#">REBLOCK </b></span>
    </div>
</footer>